<div class='well'>
  <p>
    This is an Open Data Institute experiment to create a friendly viewer for datasets stored in git repositories.
    Currently it supports datasets that use the <a href='http://www.dataprotocols.org/en/latest/data-packages.html'>DataPackage</a>
    metadata format, and that are stored on <a href='http://github.com'>GitHub</a>.
  </p>
  <p>
    Comments and feedback are most welcome - if you have an idea, or find a bug or dataset that should work but 
    doesn't, <a href='https://github.com/theodi/git-data-viewer/issues/new'>file an issue on the GitHub page</a>,
    or come and talk to us on <code>irc.freenode.net</code> in the <code>#theodi</code> channel.
  </p>
</div>

<h1>Enter a dataset URL</h1>

<%= form_tag create_repository_path, :class => 'form-search' do %>
  <%= text_field_tag :uri, '', :class => 'input-xxlarge search-query', :placeholder => @repositories.first.uri, :required => 'required' %>
  <%= submit_tag 'Go', :class => 'btn' %>
<% end %>
<small>
  Currently we only support datasets that conform to the 
  <a href='http://www.dataprotocols.org/en/latest/data-packages.html'>DataPackage</a>
  spec, and that are hosted on GitHub.
</small>

<h2>Or choose an example</h2>

<ul>
  <% @repositories.each do |repo| %>
    <li><%= link_to repo.stripped_uri, repository_path(repo) %></li>
  <% end %>
</ul>