<h1>Sorry!</h1>

<p>
  We only support git repositories with data packages at the moment. More extensive support will hopefully follow.
</p>

<p>
  If the repository you're trying to access does include a datapackage.json file,
  most likely that file is outdated and doesn't include a datapackage_version field,
  which is now required. Contact the package maintainer to get it updated.
</p>

<p>
  If you think this is an error, and that the URI you entered <i>should</i> work, then please
  <a href='https://github.com/theodi/git-data-viewer/issues/new'>file an issue</a> on GitHub,
  including the URI you tried to access.
</p>
