// Place all the styles related to the Repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#commits li {
  overflow: hidden;
  clear: right;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

#commits li:nth-child(1) {
  border-top: 1px solid #ddd;
}

#commits li:nth-child(odd) {
  background-color: #f9f9f9;
}